<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Register</title></head>
<body>
<h2>Register</h2>
<form th:action="@{/register}" th:object="${user}" method="post">
    <label>First Name: <input th:field="*{''}"/></label><br>
    <label>Last Name: <input th:field="*{''}"/></label><br>
    <label>Email: <input th:field="*{email}"/></label><br>
    <label>Password: <input th:field="*{password}" type="password"/></label><br>
    <button type="submit">Register</button>
</form>
<div th:if="${#fields.hasErrors()}">
    <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
    </ul>
</div>
<a th:href="@{/login}">Back to login</a>
</body>
</html>
